/* 

font-family: "Bebas Neue", sans-serif;
 */

/*  @@@@@@@ General rulles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #1a2736;
  --sup-color: #688897;
  --sup-sec-color: #6c818b;
  --beige: #f5efeb;
  --hover: #4feeb4;
}
.black-theme {
  background-color: var(--main-color);
  color: #fff;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  border: none;
  outline: none;
}
i {
  cursor: pointer;
  color: var(--main-color);
}
html,
body {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #02020293;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 12;
  display: none;
}
/*  star header */
header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
}

.header-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .logo {
  height: 70px;
  line-height: 70px;
  font-size: 40px;
  font-weight: bolder;
}
.header-container .logo .strong {
  font-size: 60px;
  height: 100%;
  width: 100px;
  color: var(--hover);
  font-family: "Asimovian", sans-serif;
  font-weight: 900;
}
.nav {
  width: 30%;
  height: 100%;
}
.nav .list-items {
  height: 100%;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav .list-items .mode-container,
.nav .list-items .item {
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid var(--main-color);
}
.nav .list-items .item {
  width: 44px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .list-items .mode-container {
  width: 80px;
  border-radius: 22px;
  padding: 2px;
  display: inline-flex;
  justify-content: flex-start;
  transition: all 0.3s ease;
}
.nav .list-items .mode-container.right {
  justify-content: flex-end;
}
.nav .list-items .mode-container .mode {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: inline-flex;
  justify-content: flex-start;
}

/*  star main */
main {
  width: 100vw;
  height: 100vh;
  padding-top: 70px;
}
.main-container {
  width: 80%;
  height: 100%;
  margin: auto;
}

.notification {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 20px 0;
  flex-direction: column;
  background-color: var(--sup-color);
  border-radius: 5px;
}
.user {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  font-size: 22px;
  letter-spacing: 1.5px;
}
.description {
  width: 100%;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  border-radius: 5px;
}
.control-note {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 20px 0;
  gap: 5px;
  border-radius: 5px;
}
.control-note input {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--sup-color);
  border-radius: 5px;
  text-align: center;
}

.control-note button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: var(--sup-color);
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
.control-note button:hover {
  background-color: var(--sup-sec-color);
}
.tasks {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.task {
  width: 100%;
  height: 40px;
  padding: 4px 10px;
  gap: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    border: 1px solid var(--sup-color);
  border-radius: 5px;
}

.task .note {
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding:0 5px;
  border-radius: 5px;
}
.note:hover,
.note.done {
  background-color: var(--sup-color);
}

.task .delete,
.task .edit {
  border-radius: 5px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--beige);
}
.task .edit:hover {
  background-color: var(--hover);
}
.task .delete:hover {
  background-color: #f35252;
}

/* popup */

.popup {
  position: absolute;
  width: 100%;
  height: 400px;
  margin: auto;
  background-color: var(--beige);
  top: 90px;
  left: 0;
  border-radius: 5px;
  z-index: 22;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.guest-msg{ 
  background-color: var(--sup-color);
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  width: 40%;
  margin: auto;
  border-radius: 4px;
  text-align: center;
}
.popup .list-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 55px;
  margin: auto;
  background-color: var(--sup-color);
  border-radius: 5px;
  padding: 2px;
  position: relative;
}
.popup .list-items .item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90px;
  width: 50px;
  margin: auto;
  border-radius: 50%;
  transition: all 0.3s ease;
 
}
.popup .list-items .item .des-link {
  height: 25px;
  width: 60px;
  padding: 2px;
  display: block;
  opacity: 0.1;
  transform: translateY(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
  
}

.popup .list-items .item .link {
  display: block;
  transition: transform 0.3s ease, border 0.3s ease;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
   border: 1px solid var(--beige);
}

.item.active .link {
  transform: translateY(-30px);
  border: 4px solid rgb(253, 253, 253);
  background-color: var(--sup-sec-color);
}

.item.active .des-link {
  transform: translateY(-30px);
  opacity: 1 !important; /* Ajouté pour forcer la priorité */
}